@{
    ViewData["Title"] = "Prochaine fermeture";
}

<div class="text-center">
    <h1 class="display-4">Prochaine fermeture</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Closing type</th>
            <th>closing date</th>
            <th>reopening_date</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>
        
        
            <tr>
                <td>@Model.boat_name</td>
                <td>@Model.closing_type</td>
                <td>@ViewData["jour"] @Model.closing_date</td>
                <td>@ViewData["jourOuverture"] @Model.reopening_date</td>
                <td>@ViewData["durée"] Hours</td>
           
            </tr>
        
    </tbody>
</table>