@{
    ViewData["Title"] = "Prochaine fermeture";
}

<div class="text-center">
    <h1 class="display-4">Prochaine fermeture</h1>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Closing type</th>
            <th>Closing date</th>
            <th>Reopening date</th>
            <th>Duration</th>
        </tr>
    </thead>
    <tbody>


        <tr>
            <td>@Model.boat_name</td>
            <td>@Model.closing_type</td>
            <td>@ViewData["jour"] @Model.closing_date</td>
            <td>@ViewData["jourOuverture"] @Model.reopening_date</td>
            <td>@ViewData["durée"] Hours</td>

        </tr>

    </tbody>
</table>
<h2><center>Risque de bouchon</center></h2>
<p><center><strong>@ViewData["bouchon"]</strong></center></p>
<p>Temps avant prochaine fermeture</p>
<p id="demo"></p>



<script>
   
    //var test = ViewData["test"] as String;
    //codé en dur, j'ai beau éssayer toutes les conversions de DateTime ça ne marche pas, c'est fortement enquiquinant
    var countDownDate = new Date("Dec 5, 2021 15:37:25").getTime();
  

    
    var x = setInterval(function () {
        var now = new Date().getTime();
        var distance = countDownDate - now;
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
        document.getElementById("demo").innerHTML = days + "d " + hours + "h "
            + minutes + "m " + seconds + "s ";
        if (distance < 0) {
            clearInterval(x);
            document.getElementById("demo").innerHTML = "EXPIRED";
        }
    }, 1000);
</script>
